@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(img/wallpaperflare.com_wallpaper.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.navegation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 400;
    margin-left: 70px;

}

.navegation a::after {
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s
}

.logo {
    font-size: 2em;
    color: white;
    user-select: none;
}

.logo2 {
    font-size: 1.5em;
    color: white;
    width: -500px;
}

img {
    width: 200px;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 157)
}

section {
    text-align: justify;
}
